@import 'components/_helpers.scss';
@import 'components/_reset.scss';


$small-screen : 600px;
$medium-screen : 992px;
$large-screen : 1200px;
$range : $large-screen - $small-screen;

html{
    font-size:12px;
}

body{
    background-color:#f2f2f2;
    color:#333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

article{
    background-color:transparent;
    margin-left:50vw;
    //display: flex;
    min-height: 100vh;
    xflex-direction: column;
    header{}
    section{
        @include flow-text();
        background-color:#fff;
        //flex: 1 0 0;
        
        margin-top:-2px;
    }
    footer{
        background-color:#333;
        color:#fff;
    }
}

.inner{
    //max-width:1200px;
    //margin:auto;
    //overflow:hidden;
    padding:1rem;
}


header{
    height:100vh;
    width:50vw;
    position:fixed;
    left:0;
    top:0;
    
        //color:#000;
        background:#fff url('background.jpg') no-repeat top center;
        background-attachment:fixed;
        background-size:cover;
        mix-blend-mode: lighten;
    
    display:block;
    color: #000;
    //  background: #fff;
    font-size: 19vw;
    transition:all 0.25s ease-in;
    h1{
        margin:0;
        font-size:6vw;
        font-weight:700;
        
        a{
            transition:all 0.25s ease-in;
            //color:#000;
            text-decoration:none;
        }

        
    }
    &.invert{
        background-color:#000;
        h1 a{
            color:#fff;
        }
        
        //mix-blend-mode: darken;
    }
}




//
//
//
.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        }