/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 12px; }

body {
  background-color: #f2f2f2;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f2f2 url("background.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover; }

article {
  background-color: transparent;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  article section {
    font-weight: 300;
    background-color: #fff;
    flex: 1 0 0;
    margin-top: -2px; }
    @media only screen and (min-width: 360px) {
      article section {
        font-size: 1.2rem; } }
    @media only screen and (min-width: 390px) {
      article section {
        font-size: 1.224rem; } }
    @media only screen and (min-width: 420px) {
      article section {
        font-size: 1.248rem; } }
    @media only screen and (min-width: 450px) {
      article section {
        font-size: 1.272rem; } }
    @media only screen and (min-width: 480px) {
      article section {
        font-size: 1.296rem; } }
    @media only screen and (min-width: 510px) {
      article section {
        font-size: 1.32rem; } }
    @media only screen and (min-width: 540px) {
      article section {
        font-size: 1.344rem; } }
    @media only screen and (min-width: 570px) {
      article section {
        font-size: 1.368rem; } }
    @media only screen and (min-width: 600px) {
      article section {
        font-size: 1.392rem; } }
    @media only screen and (min-width: 630px) {
      article section {
        font-size: 1.416rem; } }
    @media only screen and (min-width: 660px) {
      article section {
        font-size: 1.44rem; } }
    @media only screen and (min-width: 690px) {
      article section {
        font-size: 1.464rem; } }
    @media only screen and (min-width: 720px) {
      article section {
        font-size: 1.488rem; } }
    @media only screen and (min-width: 750px) {
      article section {
        font-size: 1.512rem; } }
    @media only screen and (min-width: 780px) {
      article section {
        font-size: 1.536rem; } }
    @media only screen and (min-width: 810px) {
      article section {
        font-size: 1.56rem; } }
    @media only screen and (min-width: 840px) {
      article section {
        font-size: 1.584rem; } }
    @media only screen and (min-width: 870px) {
      article section {
        font-size: 1.608rem; } }
    @media only screen and (min-width: 900px) {
      article section {
        font-size: 1.632rem; } }
    @media only screen and (min-width: 930px) {
      article section {
        font-size: 1.656rem; } }
    @media only screen and (min-width: 960px) {
      article section {
        font-size: 1.68rem; } }
  article footer {
    background-color: #333;
    color: #fff; }

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 1rem; }

header {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center; }
  header h1 {
    margin: 0;
    font-size: 6rem;
    font-weight: 700; }

.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap; }

.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important; }

.slabtextdone .slabtext {
  display: block; }
