@import 'components/_helpers.scss';
@import 'components/_reset.scss';


$small-screen : 600px;
$medium-screen : 992px;
$large-screen : 1200px;
$range : $large-screen - $small-screen;

html{
    font-size:12px;
    line-height:18px;
}

body{
    background-color:#f2f2f2;
    color:#333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow:hidden;
    &.invert{overflow:auto;}

}

article{
    background-color:transparent;
     
    margin-left:50vw;
    //display: flex;
    min-height: 100vh;
    xflex-direction: column;
    header{}
    
    footer{
        //background-color:#333;
        //color:#fff;
    }
}

.inner{
    //max-width:1200px;
    //margin:auto;
    //overflow:hidden;
    padding:2rem;
    box-sizing:border-box;
}


section{
        @include flow-text();
        background-color:#fff;
        color:#fff;
        .invert &{
            color:#333;
        }
        flex: 1 0 0;
        min-height:100vh;
        margin-top:-2px;
        line-height:2rem;
        transition:color 0.35s ease-in;
        .image{
            z-index:300;
            width:50vw;
            height:100vh;
            position:fixed;
            left:50vw;
            background-image:url('background.jpg');
            background-size:cover;
            background-position:center center;
            background-repeat:no-repeat;
            transition:left 0.25s ease-in;
             .invert &{
                left:0;
            }
        }
        .inner{
            
           
        }

        p{
            padding-bottom:0.5rem;
        }
    }


header{
    height:100vh;
    width:50vw;
    position:fixed;
    left:0;
    top:0;
    z-index:500;
    display:block;
    font-size: 19vw;
    .img-src{
        width:10px;
        display:none;
    }
    .inner{
        padding:0;
        height:100%;
        width:100%;
        background-image:url('background.jpg');
        background-size:cover;
        background-position:50vw center;
        background-repeat:no-repeat;
         transition:background 0.25s ease-in;
    }
    h1{
        text-shadow: 0 0 0px #000000;
            
        transition:all 0.25s ease-in;
        box-sizing:border-box;
        padding:2rem;
        text-align:right;
        margin:0;
        font-size:6vw;
        font-weight:700;
        color:#000;
        height:100%;
        background-color:#fff;
        mix-blend-mode: lighten;
    }
    .invert &{
        .inner{
            background-position:center center;
            }
        h1{
            //text-shadow: 0 0 10px #000000;
            //color:#fff;
            //background-color:#000;
            //mix-blend-mode: ligthen;
        }
        
        //
    }
}




//
//
//
.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        }