/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 12px;
  line-height: 18px; }

body {
  background-color: #f2f2f2;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden; }
  body.invert {
    overflow: auto; }

article {
  background-color: transparent;
  margin-left: 50vw;
  min-height: 100vh;
  xflex-direction: column; }

.inner {
  padding: 2rem;
  box-sizing: border-box; }

section {
  font-weight: 300;
  background-color: #fff;
  color: #fff;
  flex: 1 0 0;
  min-height: 100vh;
  margin-top: -2px;
  line-height: 2rem;
  transition: color 0.35s ease-in; }
  @media only screen and (min-width: 360px) {
    section {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 390px) {
    section {
      font-size: 1.224rem; } }
  @media only screen and (min-width: 420px) {
    section {
      font-size: 1.248rem; } }
  @media only screen and (min-width: 450px) {
    section {
      font-size: 1.272rem; } }
  @media only screen and (min-width: 480px) {
    section {
      font-size: 1.296rem; } }
  @media only screen and (min-width: 510px) {
    section {
      font-size: 1.32rem; } }
  @media only screen and (min-width: 540px) {
    section {
      font-size: 1.344rem; } }
  @media only screen and (min-width: 570px) {
    section {
      font-size: 1.368rem; } }
  @media only screen and (min-width: 600px) {
    section {
      font-size: 1.392rem; } }
  @media only screen and (min-width: 630px) {
    section {
      font-size: 1.416rem; } }
  @media only screen and (min-width: 660px) {
    section {
      font-size: 1.44rem; } }
  @media only screen and (min-width: 690px) {
    section {
      font-size: 1.464rem; } }
  @media only screen and (min-width: 720px) {
    section {
      font-size: 1.488rem; } }
  @media only screen and (min-width: 750px) {
    section {
      font-size: 1.512rem; } }
  @media only screen and (min-width: 780px) {
    section {
      font-size: 1.536rem; } }
  @media only screen and (min-width: 810px) {
    section {
      font-size: 1.56rem; } }
  @media only screen and (min-width: 840px) {
    section {
      font-size: 1.584rem; } }
  @media only screen and (min-width: 870px) {
    section {
      font-size: 1.608rem; } }
  @media only screen and (min-width: 900px) {
    section {
      font-size: 1.632rem; } }
  @media only screen and (min-width: 930px) {
    section {
      font-size: 1.656rem; } }
  @media only screen and (min-width: 960px) {
    section {
      font-size: 1.68rem; } }
  .invert section {
    color: #333; }
  section .image {
    z-index: 300;
    width: 50vw;
    height: 100vh;
    position: fixed;
    left: 50vw;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: left 0.25s ease-in; }
    .invert section .image {
      left: 0; }
  section p {
    padding-bottom: 0.5rem; }

header {
  height: 100vh;
  width: 50vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  display: block;
  font-size: 19vw; }
  header .img-src {
    width: 10px;
    display: none; }
  header .inner {
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: 50vw center;
    background-repeat: no-repeat;
    transition: background 0.25s ease-in; }
  header h1 {
    text-shadow: 0 0 0px #000000;
    transition: all 0.25s ease-in;
    box-sizing: border-box;
    padding: 2rem;
    text-align: right;
    margin: 0;
    font-size: 6vw;
    font-weight: 700;
    color: #000;
    height: 100%;
    background-color: #fff;
    mix-blend-mode: lighten; }
  .invert header .inner {
    background-position: center center; }

.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap; }

.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important; }

.slabtextdone .slabtext {
  display: block; }
